*{
body {
	font-family: Inter, Helvetica;
	background-color: white;
	color: rgb(245, 171, 239);
}
}
/* common styles */
img {
	width: 100%;
}
a {
	text-decoration: none;
	color: white;
}
.description {
	margin-top: 1rem;
	font-size: 1.5rem;
	font-weight: 400;
	color: black;
}
.title {
	color: var(--primary-color);
	font-weight: 700;
	font-size: 2rem;
	text-transform: uppercase;
}
.item_preTitle {
	font-size: 1.4rem;
	color: black;
	font-weight: 300;
}
.item_title {
	font-size: 1.6rem;
	color: rgb(148, 30, 138);
	font-weight: 500;
	margin: 0.8rem 0;
}
.item_subtitle {
	font-size: 1.0rem;
	color: var(--text-color);
	font-weight: 400;
}

/* layouts */
.container {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
	display: grid;
	padding: 5rem;
	background: #ffffff;
	grid-template-columns: 1fr 1fr;
	gap: 4rem;
}

.profile {
	grid-column: 1 / -1;
	margin-bottom: 2rem;
}

/* profile */
.profile_container {
	display: flex;
	gap: 2rem;
}
.profile_profileImg {
	max-width: 250px;
}
.profile_name_firstName {
	color: black;
	font-weight: 200;
	font-size: clamp(2rem, 8vw, 4rem);
	text-transform: uppercase;
	display: block;
	margin-bottom: -0.8rem;

.profile_title {
	font-size: 1.5rem;
	font-weight: 400;
	text-transform: uppercase;
}

/* eduction */
.edu_item {
	margin-top: 2rem;
}

/* Interests */
.interest_items {
	margin-top: 0.5 rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
}
.interest_item {
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	color: black;
}
.interest_item svg {
	width: 1rem;
}